.main{
width: 100%;
height: 100vh;
}
.header{
    height:4rem;
    display:flex;
    background-color: rgb(33, 8, 34);
    color: #ffffff;

    &__list{
        display: flex;
        list-style: none;
        justify-content: center;

        &--item{
            font-size: 1.2rem;
            margin-left: 1rem;
            &:hover{
                cursor: pointer;
                color: rgb(188, 14, 231);

            }
            &:active{
                color: rgb(231, 22, 196) !important;
            }



        }


    }
}
.sorting{
    pointer-events:none !important;
    color: red !important;
    opacity: 0.6;

}
//buttons
.controlButton{
    width: auto;
    height: 4rem;
    justify-content: center;
    align-items: center;
    display: flex;
    & button{
        background-color: rgb(233, 10, 222);
        color: seashell;
        border: none;
        font-size: 1rem;
        padding: .5rem 1rem;
        margin-left: .2rem;
        cursor: pointer;

        &:hover{
            background-color: rgb(180, 4, 211);
        }
    }
}

//info algo

.algo-info{
    width: auto;
    height: 4rem;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(233, 10, 222);
    font-size: 1.1rem;
}

.bars{
    width: 1000px;
    height: 25rem;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    border-bottom: 1px solid #000;

    & .bar{
        background-color: #d20ce4;
        color: #ffffff;
       // border-radius: 50%;
        display: flex;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;

    }
}